@charset "utf-8";


/* Container */
.Thumb_Scroller_Container{
    direction: ltr;
    display: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100% !important;
}

.Thumb_Scroller_Container img, .Thumb_Scroller_LightboxWrapper img{
    border: none !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    min-height: 0 !important;
    min-width: 0 !important;
    padding: 0 !important;
}
body {
   margin: 0px;
}
/* Background */
.Thumb_Scroller_Background{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
}

/* Thumbnails */
.Thumb_Scroller_ThumbnailsContainer{
    background: none;
    margin: 10px 0px !important;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 300;
    width: 100% !important;
}

.Thumb_Scroller_ThumbnailsBg{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
}

.Thumb_Scroller_ThumbnailsWrapper{
    background: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 200;
}

.Thumb_Scroller_Thumbnails{
    background: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

.Thumb_Scroller_ThumbContainer{
    border-width: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: relative;
}

.Thumb_Scroller_Thumb{
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: static;
}

.Thumb_Scroller_ThumbContainer .label{
    display: none;
    margin: 0;
    overflow: hidden;
    position: absolute;    
}

.Thumb_Scroller_ThumbContainer .label .bg{
    position: absolute;    
    z-index: 100;
}

.Thumb_Scroller_ThumbContainer .label .text{
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 11px;
    font-weight: normal;
    line-height: 1em;
    padding: 5px;
    text-align: center;
    z-index: 200;
    position: relative;    
}

.Thumb_Scroller_ThumbLoader{
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

/* Thumbnails Scroll */
.Thumb_Scroller_ThumbnailsScroll{
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 250;
}

.Thumb_Scroller_ThumbnailsScrollScrub{
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
}

/* Thumbnails Navigation */
.Thumb_Scroller_ThumbnailsNavigationPrev{
    cursor: pointer;
    display: none;
    line-height: 1em !important;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 500;
}

.Thumb_Scroller_ThumbnailsNavigationPrev .hover{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationPrev .disabled{    
    cursor: default;
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationPrev.disabled .normal{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationPrev.disabled .hover{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationPrev.disabled .disabled{    
    display: block;
}

.Thumb_Scroller_ThumbnailsNavigationNext{
    cursor: pointer;
    display: none;
    line-height: 1em !important;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 600;
}

.Thumb_Scroller_ThumbnailsNavigationNext .hover{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationNext .disabled{    
    cursor: default;
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationNext.disabled .normal{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationNext.disabled .hover{    
    display: none;
}

.Thumb_Scroller_ThumbnailsNavigationNext.disabled .disabled{    
    display: block;
}

/* Lightbox */
.Thumb_Scroller_LightboxWrapper{
    direction: ltr;
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1000000;
}

.Thumb_Scroller_LightboxWindow{
    cursor: pointer;
    left: 0;
    position: absolute;
    top: 0;
}

.Thumb_Scroller_LightboxLoader{
    display: none;
    position: fixed;
}

.Thumb_Scroller_LightboxContainer{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;    
}

.Thumb_Scroller_LightboxBg{
    position: absolute;
}

.Thumb_Scroller_Lightbox{
    position: absolute;
}

.Thumb_Scroller_Lightbox img{
}

/* Lightbox Navigation*/
.Thumb_Scroller_LightboxNavigation{
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
}

.Thumb_Scroller_LightboxNavigation .hover{
    display: none;
}

.Thumb_Scroller_LightboxNavigation_PrevBtn{
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
}

.Thumb_Scroller_LightboxNavigation_NextBtn{
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
}

.Thumb_Scroller_LightboxNavigation_CloseBtn,
.Thumb_Scroller_LightboxNavigation_SocialShareBtn{
    cursor: pointer;
    margin: 0;
    padding: 0;
    position: absolute;
}

.Thumb_Scroller_LightboxNavigation_Info{
    background: #000000;
    color: #ffffff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 2em;
    margin: 0;
    padding: 0 10px 0 10px;
    position: absolute;
    text-align: center;
    width: 60px;
}

.Thumb_Scroller_LightboxCaption{
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1em;
    position: absolute;
    text-align: justify;
}

/* Tooltip */
.Thumb_Scroller_Tooltip{
    background-color: #ffffff;

    display: none;
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 10px;
    font-weight: normal;
    padding: 0 5px 1px 5px;
    position: absolute;
    text-align: center;
    text-transform: none;
    z-index: 700;
}

.Thumb_Scroller_Tooltip_ArrowBorder{

    bottom: -10px;
    height: 0;
    position: absolute;
    width: 0;
}

.Thumb_Scroller_Tooltip_Arrow{

    bottom: -9px;
    height: 0;
    position: absolute;
    width: 0;
}
